In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
salary            148 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [5]:
dataset["gender"].dtype

dtype('O')

In [6]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnNames in dataset.columns:
        if(dataset[columnNames].dtype=='O'):
            qual.append(columnNames)
        else:
            quan.append(columnNames)
    return quan,qual

In [7]:

quan,qual=quanQual(dataset)

In [8]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [9]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central tendency

In [10]:
dataset["ssc_p"].mean()

67.30339534883721

In [11]:
dataset["ssc_p"].median()

67.0

In [12]:
dataset["ssc_p"].mode()[0]

62.0

In [13]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [14]:
descriptive=pd.DataFrame()

In [15]:
descriptive

Empty DataFrame
Columns: []
Index: []

In [16]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [17]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [18]:
descriptive["degree_p"]["Median"]=0

In [19]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN        0     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [20]:
for columnname in descriptive.columns:
    descriptive[columnname]["Mean"]=dataset[columnname].mean()
    descriptive[columnname]["Median"]=dataset[columnname].median()
    descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]

In [21]:
descriptive

       sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean     108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median   108       67       65       66       71       62  265000
Mode       1       62       63       65       60     56.7  300000

# Percentile

In [22]:
import numpy as np

In [23]:
np.percentile(dataset["ssc_p"],10)

52.0

In [24]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%","Q3=75%","99%","Q4=100%"],columns=quan)

In [25]:
for columnname in descriptive.columns:
    descriptive[columnname]["Mean"]=dataset[columnname].mean()
    descriptive[columnname]["Median"]=dataset[columnname].median()
    descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
    descriptive[columnname]["Q1=25%"]=np.percentile(dataset[columnname],25)
    descriptive[columnname]["Q2=50%"]=np.percentile(dataset[columnname],50)
    descriptive[columnname]["Q3=75%"]=np.percentile(dataset[columnname],75)
    descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
    descriptive[columnname]["Q4=100%"]=np.percentile(dataset[columnname],100)

In [26]:
descriptive

          sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean        108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median      108       67       65       66       71       62  265000
Mode          1       62       63       65       60     56.7  300000
Q1=25%     54.5     60.6     60.9       61       60   57.945     NaN
Q2=50%      108       67       65       66       71       62     NaN
Q3=75%    161.5     75.7       73       72     83.5   66.255     NaN
99%      212.86       87    91.86    83.86       97  76.1142     NaN
Q4=100%     215     89.4     97.7       91       98    77.89     NaN

In [27]:
for columnname in descriptive.columns:
    descriptive[columnname]["Mean"]=dataset[columnname].mean()
    descriptive[columnname]["Median"]=dataset[columnname].median()
    descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
    descriptive[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
    descriptive[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
    descriptive[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
    descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
    descriptive[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]

In [28]:
descriptive

          sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean        108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median      108       67       65       66       71       62  265000
Mode          1       62       63       65       60     56.7  300000
Q1=25%     54.5     60.6     60.9       61       60   57.945  240000
Q2=50%      108       67       65       66       71       62  265000
Q3=75%    161.5     75.7       73       72     83.5   66.255  300000
99%      212.86       87    91.86    83.86       97  76.1142     NaN
Q4=100%     215     89.4     97.7       91       98    77.89  940000

# Inter quartile range

In [29]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%","Q3=75%","99%","Q4=100%","IQR","1.5rule","Lowest","Greatest","Min","Max"],columns=quan)

In [30]:
for columnname in descriptive.columns:
    descriptive[columnname]["Mean"]=dataset[columnname].mean()
    descriptive[columnname]["Median"]=dataset[columnname].median()
    descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
    descriptive[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
    descriptive[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
    descriptive[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
    descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
    descriptive[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]
    descriptive[columnname]["IQR"]=descriptive[columnname]["Q3=75%"]-descriptive[columnname]["Q1=25%"]
    descriptive[columnname]["1.5rule"]=1.5*descriptive[columnname]["IQR"]
    descriptive[columnname]["Lowest"]=descriptive[columnname]["Q1=25%"]-descriptive[columnname]["1.5rule"]
    descriptive[columnname]["Greatest"]=descriptive[columnname]["Q3=75%"]+descriptive[columnname]["1.5rule"]
    descriptive[columnname]["Min"]=dataset[columnname].min()
    descriptive[columnname]["Max"]=dataset[columnname].max()

In [31]:
descriptive

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean         108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median       108       67       65       66       71       62  265000
Mode           1       62       63       65       60     56.7  300000
Q1=25%      54.5     60.6     60.9       61       60   57.945  240000
Q2=50%       108       67       65       66       71       62  265000
Q3=75%     161.5     75.7       73       72     83.5   66.255  300000
99%       212.86       87    91.86    83.86       97  76.1142     NaN
Q4=100%      215     89.4     97.7       91       98    77.89  940000
IQR          107     15.1     12.1       11     23.5     8.31   60000
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465   90000
Lowest      -106    37.95    42.75     44.5    24.75    45.48  150000
Greatest     322    98.35    91.15     88.5   118.75    78.72  390000
Min            1    40.89       37       50       50    51.21  200000
Max          215     89.4     97.7       91       98    77.89  940000

In [32]:
lowest=[]
higher=[]
for columnname in descriptive.columns:
    if(descriptive[columnname]["Min"]<descriptive[columnname]["Lowest"]):
        lowest.append(columnname)
    if(descriptive[columnname]["Max"]>descriptive[columnname]["Greatest"]):
        higher.append(columnname)

In [33]:
lowest

['hsc_p']

In [34]:
higher

['hsc_p', 'degree_p', 'salary']

In [35]:
def outlierFound(descriptive):
    lowest=[]
    higher=[]
    for columnname in descriptive.columns:
        if(descriptive[columnname]["Min"]<descriptive[columnname]["Lowest"]):
            lowest.append(columnname)
        if(descriptive[columnname]["Max"]>descriptive[columnname]["Greatest"]):
            higher.append(columnname)
    return lowest,higher

In [36]:
outlierFound(descriptive)

(['hsc_p'], ['hsc_p', 'degree_p', 'salary'])

In [37]:
descriptive

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean         108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median       108       67       65       66       71       62  265000
Mode           1       62       63       65       60     56.7  300000
Q1=25%      54.5     60.6     60.9       61       60   57.945  240000
Q2=50%       108       67       65       66       71       62  265000
Q3=75%     161.5     75.7       73       72     83.5   66.255  300000
99%       212.86       87    91.86    83.86       97  76.1142     NaN
Q4=100%      215     89.4     97.7       91       98    77.89  940000
IQR          107     15.1     12.1       11     23.5     8.31   60000
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465   90000
Lowest      -106    37.95    42.75     44.5    24.75    45.48  150000
Greatest     322    98.35    91.15     88.5   118.75    78.72  390000
Min            1    40.89       37       50       50    51.21  200000
Max          215     89.4     97.7       91       98    77.89  940000

In [38]:
for columnname in lowest:
    dataset[columnname][dataset[columnname]<descriptive[columnname]["Lowest"]]=descriptive[columnname]["Lowest"]
for columnname in higher:
    dataset[columnname][dataset[columnname]>descriptive[columnname]["Greatest"]]=descriptive[columnname]["Greatest"]

C:\anaconda\Anaconda\envs\AIML\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\anaconda\Anaconda\envs\AIML\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [39]:
descriptive

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean         108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median       108       67       65       66       71       62  265000
Mode           1       62       63       65       60     56.7  300000
Q1=25%      54.5     60.6     60.9       61       60   57.945  240000
Q2=50%       108       67       65       66       71       62  265000
Q3=75%     161.5     75.7       73       72     83.5   66.255  300000
99%       212.86       87    91.86    83.86       97  76.1142     NaN
Q4=100%      215     89.4     97.7       91       98    77.89  940000
IQR          107     15.1     12.1       11     23.5     8.31   60000
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465   90000
Lowest      -106    37.95    42.75     44.5    24.75    45.48  150000
Greatest     322    98.35    91.15     88.5   118.75    78.72  390000
Min            1    40.89       37       50       50    51.21  200000
Max          215     89.4     97.7       91       98    77.89  940000

In [40]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,390000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,390000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [41]:
def outlierReplace(lowest,higher,dataset,descriptive):
    for columnname in lowest:
        dataset[columnname][dataset[columnname]<descriptive[columnname]["Lowest"]]=descriptive[columnname]["Lowest"]
    for columnname in higher:
        dataset[columnname][dataset[columnname]>descriptive[columnname]["Greatest"]]=descriptive[columnname]["Greatest"]
    return dataset

In [42]:
outlierReplace(lowest,higher,dataset,descriptive)

C:\anaconda\Anaconda\envs\AIML\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\anaconda\Anaconda\envs\AIML\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,390000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,390000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [43]:
for columnname in descriptive.columns:
    descriptive[columnname]["Mean"]=dataset[columnname].mean()
    descriptive[columnname]["Median"]=dataset[columnname].median()
    descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
    descriptive[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
    descriptive[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
    descriptive[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
    descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
    descriptive[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]
    descriptive[columnname]["IQR"]=descriptive[columnname]["Q3=75%"]-descriptive[columnname]["Q1=25%"]
    descriptive[columnname]["1.5rule"]=1.5*descriptive[columnname]["IQR"]
    descriptive[columnname]["Lowest"]=descriptive[columnname]["Q1=25%"]-descriptive[columnname]["1.5rule"]
    descriptive[columnname]["Greatest"]=descriptive[columnname]["Q3=75%"]+descriptive[columnname]["1.5rule"]
    descriptive[columnname]["Min"]=dataset[columnname].min()
    descriptive[columnname]["Max"]=dataset[columnname].max()

In [44]:
def univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%","Q3=75%","99%","Q4=100%","IQR","1.5rule","Lowest","Greatest","Min","Max"],columns=quan)
    for columnname in descriptive.columns:
        descriptive[columnname]["Mean"]=dataset[columnname].mean()
        descriptive[columnname]["Median"]=dataset[columnname].median()
        descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
        descriptive[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
        descriptive[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
        descriptive[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
        descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
        descriptive[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]
        descriptive[columnname]["IQR"]=descriptive[columnname]["Q3=75%"]-descriptive[columnname]["Q1=25%"]
        descriptive[columnname]["1.5rule"]=1.5*descriptive[columnname]["IQR"]
        descriptive[columnname]["Lowest"]=descriptive[columnname]["Q1=25%"]-descriptive[columnname]["1.5rule"]
        descriptive[columnname]["Greatest"]=descriptive[columnname]["Q3=75%"]+descriptive[columnname]["1.5rule"]
        descriptive[columnname]["Min"]=dataset[columnname].min()
        descriptive[columnname]["Max"]=dataset[columnname].max()
    return descriptive

In [45]:
univariate(dataset,quan)

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean         108  67.3034  66.3347  66.3586  72.1006  62.2782  277649
Median       108       67       65       66       71       62  265000
Mode           1       62       63       65       60     56.7  300000
Q1=25%      54.5     60.6     60.9       61       60   57.945  240000
Q2=50%       108       67       65       66       71       62  265000
Q3=75%     161.5     75.7       73       72     83.5   66.255  300000
99%       212.86       87   91.129    83.86       97  76.1142     NaN
Q4=100%      215     89.4    91.15     88.5       98    77.89  390000
IQR          107     15.1     12.1       11     23.5     8.31   60000
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465   90000
Lowest      -106    37.95    42.75     44.5    24.75    45.48  150000
Greatest     322    98.35    91.15     88.5   118.75    78.72  390000
Min            1    40.89    42.75       50       50    51.21  200000
Max          215     89.4    91.15     88.5       98    77.89  390000

In [46]:
descriptive

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean         108  67.3034  66.3347  66.3586  72.1006  62.2782  277649
Median       108       67       65       66       71       62  265000
Mode           1       62       63       65       60     56.7  300000
Q1=25%      54.5     60.6     60.9       61       60   57.945  240000
Q2=50%       108       67       65       66       71       62  265000
Q3=75%     161.5     75.7       73       72     83.5   66.255  300000
99%       212.86       87   91.129    83.86       97  76.1142     NaN
Q4=100%      215     89.4    91.15     88.5       98    77.89  390000
IQR          107     15.1     12.1       11     23.5     8.31   60000
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465   90000
Lowest      -106    37.95    42.75     44.5    24.75    45.48  150000
Greatest     322    98.35    91.15     88.5   118.75    78.72  390000
Min            1    40.89    42.75       50       50    51.21  200000
Max          215     89.4    91.15     88.5       98    77.89  390000

In [47]:
lowest=[]
higher=[]
for columnname in descriptive.columns:
    if(descriptive[columnname]["Min"]<descriptive[columnname]["Lowest"]):
        lowest.append(columnname)
    if(descriptive[columnname]["Max"]>descriptive[columnname]["Greatest"]):
        higher.append(columnname)

In [48]:
def outlierFound(descriptive):
    lowest=[]
    higher=[]
    for columnname in descriptive.columns:
        if(descriptive[columnname]["Min"]<descriptive[columnname]["Lowest"]):
            lowest.append(columnname)
        if(descriptive[columnname]["Max"]>descriptive[columnname]["Greatest"]):
            higher.append(columnname)
    return lowest,higher

In [49]:
outlierFound(descriptive)

([], [])

In [50]:
lowest

[]

In [51]:
higher

[]

# Frequency

In [52]:
dataset["ssc_p"].value_counts()

62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
80.60     1
65.20     1
80.40     1
59.96     1
78.50     1
Name: ssc_p, Length: 103, dtype: int64

In [53]:
FreqTable=pd.DataFrame(columns=["Unique_value","Frequency","Relative_frequency","Cumsum"])

In [54]:
FreqTable

Empty DataFrame
Columns: [Unique_value, Frequency, Relative_frequency, Cumsum]
Index: []

In [55]:
FreqTable["Unique_value"]=dataset["ssc_p"].value_counts().index

FreqTable["Frequency"]=dataset["ssc_p"].value_counts().values
FreqTable["Relative_frequency"]=(FreqTable["Frequency"]/len(FreqTable.index))
FreqTable["Cumsum"]=FreqTable["Relative_frequency"].cumsum()

In [56]:
FreqTable

     Unique_value  Frequency  Relative_frequency    Cumsum
0           62.00         11            0.106796  0.106796
1           63.00         10            0.097087  0.203883
2           67.00          9            0.087379  0.291262
3           52.00          9            0.087379  0.378641
4           73.00          9            0.087379  0.466019
..            ...        ...                 ...       ...
98          80.60          1            0.009709  2.048544
99          65.20          1            0.009709  2.058252
100         80.40          1            0.009709  2.067961
101         59.96          1            0.009709  2.077670
102         78.50          1            0.009709  2.087379

[103 rows x 4 columns]

In [57]:
def freqTable(columnname,dataset):
    FreqTable=pd.DataFrame(columns=["Unique_value","Frequency","Relative_frequency","Cumsum"])
    FreqTable["Unique_value"]=dataset[columnname].value_counts().index
    FreqTable["Frequency"]=dataset[columnname].value_counts().values
    FreqTable["Relative_frequency"]=(FreqTable["Frequency"]/103)
    FreqTable["Cumsum"]=FreqTable["Relative_frequency"].cumsum()
    return FreqTable

In [58]:
freqTable("hsc_p",dataset)

    Unique_value  Frequency  Relative_frequency    Cumsum
0          63.00         14            0.135922  0.135922
1          62.00         12            0.116505  0.252427
2          67.00          9            0.087379  0.339806
3          60.00          9            0.087379  0.427184
4          64.00          8            0.077670  0.504854
..           ...        ...                 ...       ...
86         60.80          1            0.009709  2.048544
87         89.83          1            0.009709  2.058252
88         66.60          1            0.009709  2.067961
89         87.60          1            0.009709  2.077670
90         91.00          1            0.009709  2.087379

[91 rows x 4 columns]

In [59]:
def freqTable(columnname,dataset):
    FreqTable=pd.DataFrame(columns=["Unique_value","Frequency","Relative_frequency","Cumsum"])
    FreqTable["Unique_value"]=dataset[columnname].value_counts().index
    FreqTable["Frequency"]=dataset[columnname].value_counts().values
    FreqTable["Relative_frequency"]=(FreqTable["Frequency"]/len(FreqTable.index))
    FreqTable["Cumsum"]=FreqTable["Relative_frequency"].cumsum()
    return FreqTable

In [60]:
freqTable("hsc_p",dataset)

    Unique_value  Frequency  Relative_frequency    Cumsum
0          63.00         14            0.153846  0.153846
1          62.00         12            0.131868  0.285714
2          67.00          9            0.098901  0.384615
3          60.00          9            0.098901  0.483516
4          64.00          8            0.087912  0.571429
..           ...        ...                 ...       ...
86         60.80          1            0.010989  2.318681
87         89.83          1            0.010989  2.329670
88         66.60          1            0.010989  2.340659
89         87.60          1            0.010989  2.351648
90         91.00          1            0.010989  2.362637

[91 rows x 4 columns]

# histogram skewness

In [61]:
dir(dataset["ssc_p"])

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_array',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [62]:
dataset["ssc_p"].skew()

-0.13264949031456927

In [63]:
dataset["ssc_p"].kurtosis()

-0.6075102066986688

In [64]:
def univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%","Q3=75%","99%","Q4=100%","IQR","1.5rule","Lowest","Greatest","Min","Max","skew","kurtosis"],columns=quan)
    for columnname in descriptive.columns:
        descriptive[columnname]["Mean"]=dataset[columnname].mean()
        descriptive[columnname]["Median"]=dataset[columnname].median()
        descriptive[columnname]["Mode"]=dataset[columnname].mode()[0]
        descriptive[columnname]["Q1=25%"]=dataset.describe()[columnname]["25%"]
        descriptive[columnname]["Q2=50%"]=dataset.describe()[columnname]["50%"]
        descriptive[columnname]["Q3=75%"]=dataset.describe()[columnname]["75%"]
        descriptive[columnname]["99%"]=np.percentile(dataset[columnname],99)
        descriptive[columnname]["Q4=100%"]=dataset.describe()[columnname]["max"]
        descriptive[columnname]["IQR"]=descriptive[columnname]["Q3=75%"]-descriptive[columnname]["Q1=25%"]
        descriptive[columnname]["1.5rule"]=1.5*descriptive[columnname]["IQR"]
        descriptive[columnname]["Lowest"]=descriptive[columnname]["Q1=25%"]-descriptive[columnname]["1.5rule"]
        descriptive[columnname]["Greatest"]=descriptive[columnname]["Q3=75%"]+descriptive[columnname]["1.5rule"]
        descriptive[columnname]["Min"]=dataset[columnname].min()
        descriptive[columnname]["Max"]=dataset[columnname].max()
        descriptive[columnname]["skew"]=dataset[columnname].skew()
        descriptive[columnname]["kurtosis"]=dataset[columnname].kurtosis()
    return descriptive

In [65]:
univariate(dataset,quan)

           sl_no     ssc_p      hsc_p   degree_p   etest_p     mba_p    salary
Mean         108   67.3034    66.3347    66.3586   72.1006   62.2782    277649
Median       108        67         65         66        71        62    265000
Mode           1        62         63         65        60      56.7    300000
Q1=25%      54.5      60.6       60.9         61        60    57.945    240000
Q2=50%       108        67         65         66        71        62    265000
Q3=75%     161.5      75.7         73         72      83.5    66.255    300000
99%       212.86        87     91.129      83.86        97   76.1142       NaN
Q4=100%      215      89.4      91.15       88.5        98     77.89    390000
IQR          107      15.1       12.1         11      23.5      8.31     60000
1.5rule    160.5     22.65      18.15       16.5     35.25    12.465     90000
Lowest      -106     37.95      42.75       44.5     24.75     45.48    150000
Greatest     322     98.35      91.15       88.5    118.75     78.72    390000
Min            1     40.89      42.75         50        50     51.21    200000
Max          215      89.4      91.15       88.5        98     77.89    390000
skew           0 -0.132649   0.162611   0.204164  0.282308  0.313576    0.8067
kurtosis    -1.2  -0.60751  0.0869008 -0.0974897  -1.08858 -0.470723 -0.239837