In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("kidney_disease.csv")
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [3]:
dataset.isnull()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,True,True,True,False,False,...,True,True,True,False,False,False,False,False,False,False
2,False,False,False,True,True,True,True,True,False,False,...,True,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
276,False,False,False,True,True,True,True,True,False,False,...,False,False,True,False,False,False,False,False,False,False
277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
278,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
279,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [4]:
dataset["rbc"].value_counts()

normal      144
abnormal     29
Name: rbc, dtype: int64

In [5]:
dataset["rbc"].mode()

0    normal
dtype: object

In [6]:
dataset.isna().sum()

id                  0
age                 5
bp                  9
sg                 36
al                 35
su                 38
rbc               107
pc                 50
pcc                 4
ba                  4
bgr                33
bu                 14
sc                 12
sod                67
pot                68
hemo               39
pcv                51
wc                 77
rc                 93
htn                 1
dm                  1
cad                 1
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [7]:
dataset.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
id                280 non-null int64
age               275 non-null float64
bp                271 non-null float64
sg                244 non-null float64
al                245 non-null float64
su                242 non-null float64
rbc               173 non-null object
pc                230 non-null object
pcc               276 non-null object
ba                276 non-null object
bgr               247 non-null float64
bu                266 non-null float64
sc                268 non-null float64
sod               213 non-null float64
pot               212 non-null float64
hemo              241 non-null float64
pcv               229 non-null float64
wc                203 non-null object
rc                187 non-null object
htn               279 non-null object
dm                279 non-null object
cad               279 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [9]:
quan=[]
qual=[]
for columnName in dataset.columns:
    if(dataset[columnName].dtype=="O"):
        qual.append(columnName)
    else:
        quan.append(columnName)

In [10]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv']

In [11]:
qual

['rbc',
 'pc',
 'pcc',
 'ba',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [13]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df=pd.DataFrame(df,columns=quan)

In [14]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
0,157.0,62.0,70.0,1.025000,3.00000,0.000000,122.000000,42.0,1.7,136.000000,4.700000,12.6,39.000000
1,109.0,54.0,70.0,1.017439,1.02449,0.438017,233.000000,50.1,1.9,137.255869,4.754245,11.7,39.165939
2,17.0,47.0,80.0,1.017439,1.02449,0.438017,114.000000,87.0,5.2,139.000000,3.700000,12.1,39.165939
3,347.0,43.0,60.0,1.025000,0.00000,0.000000,108.000000,25.0,1.0,144.000000,5.000000,17.8,43.000000
4,24.0,42.0,100.0,1.015000,4.00000,0.000000,150.186235,50.0,1.4,129.000000,4.000000,11.1,39.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71.0,46.0,60.0,1.010000,1.00000,0.000000,163.000000,92.0,3.3,141.000000,4.000000,9.8,28.000000
276,106.0,50.0,90.0,1.017439,1.02449,0.438017,89.000000,118.0,6.1,127.000000,4.400000,6.0,17.000000
277,270.0,23.0,80.0,1.025000,0.00000,0.000000,111.000000,34.0,1.1,145.000000,4.000000,14.3,41.000000
278,348.0,38.0,80.0,1.020000,0.00000,0.000000,99.000000,19.0,0.5,147.000000,3.500000,13.6,44.000000
279,102.0,17.0,60.0,1.010000,0.00000,0.000000,92.000000,32.0,2.1,141.000000,4.200000,13.9,52.000000

In [15]:
df.isna().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
pcv     0
dtype: int64

In [16]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd

In [19]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(dataset[qual])
df1=imp.transform(dataset[qual])
df1=pd.DataFrame(df1,columns=qual)

In [20]:
df1

,rbc,pc,pcc,ba,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,abnormal,notpresent,notpresent,7900,3.9,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,11000,4.5,no,yes,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,11000,4.5,yes,no,no,poor,no,no,ckd
3,normal,normal,notpresent,notpresent,7200,5.5,no,no,no,good,no,no,notckd
4,normal,abnormal,notpresent,present,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,normal,normal,notpresent,notpresent,14600,3.2,yes,yes,no,good,no,no,ckd
276,normal,normal,notpresent,notpresent,6500,4.5,yes,yes,no,good,yes,yes,ckd
277,normal,normal,notpresent,notpresent,7200,5.0,no,no,no,good,no,no,notckd
278,normal,normal,notpresent,notpresent,7300,6.4,no,no,no,good,no,no,notckd
279,normal,normal,notpresent,notpresent,7000,4.5,no,no,no,good,no,no,ckd

In [21]:
df1.isna().sum()

rbc               0
pc                0
pcc               0
ba                0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [22]:
from Univariate import univariate
descriptive=univariate.univariate(dataset, quan)

In [23]:
descriptive

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv
Mean,202.929,51.4545,76.0517,1.01744,1.02449,0.438017,150.186,56.9838,3.00616,137.256,4.75425,12.5315,39.1659
Median,202,55,70,1.02,0,0,124,41,1.3,138,4.4,12.7,41
Mode,1,65,70,1.02,0,0,99,46,1.2,135,5,15,52
Q1=25%,110.5,42,70,1.01,0,0,100,27.25,0.9,135,3.9,10.5,33
Q2=50%,202,55,70,1.02,0,0,124,41,1.3,138,4.4,12.7,41
Q3=75%,302.25,65,80,1.02,2,0,171.5,64.75,2.8,141,4.9,14.9,46
99%,393.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4=100%,399,90,180,1.025,5,5,490,391,76,163,47,17.8,54
IQR,191.75,23,10,0.01,2,0,71.5,37.5,1.9,6,1,4.4,13
1.5rule,287.625,34.5,15,0.015,3,0,107.25,56.25,2.85,9,1.5,6.6,19.5
Lowest,-177.125,7.5,55,0.995,-3,0,-7.25,-29,-1.95,126,2.4,3.9,13.5
Greatest,589.875,99.5,95,1.035,5,0,278.75,121,5.65,150,6.4,21.5,65.5
Min,1,2,50,1.005,0,0,70,10,0.4,4.5,2.7,3.1,9
Max,399,90,180,1.025,5,5,490,391,76,163,47,17.8,54

In [25]:
lowest,highest=univariate.outlierFound(descriptive)

In [26]:
lowest

['age', 'bp', 'sod', 'hemo', 'pcv']

In [27]:
highest

['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [28]:
dataset=univariate.outlierReplace(lowest,highest,dataset,descriptive)

D:\Pavithra Raju\HOPE_AI\5.DataScience_Univariate\1.Univariate_Analysis\3.Data Preprocessing\Univariate.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnname][dataset[columnname]<descriptive[columnname]["Lowest"]]=descriptive[columnname]["Lowest"]
D:\Pavithra Raju\HOPE_AI\5.DataScience_Univariate\1.Univariate_Analysis\3.Data Preprocessing\Univariate.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnname][dataset[columnname]>descriptive[columnname]["Greatest"]]=descriptive[columnname]["Greatest"]

In [29]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,95.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,28.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,17.0,6500,NaN,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,41.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,44.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,52.0,7000,NaN,no,no,no,good,no,no,ckd